.App {
	text-align: center;
}

.board {
	display: block;
	margin: auto;
	width: 331px;
}

.row {
	display: flex;
}

.cell {
	height: 32px;
	width: 32px;
	border-top: 1px solid rgb(128, 128, 128);
	border-left: 1px solid rgb(128, 128, 128);
}

.last-col {
	border-right: 1px solid rgb(128, 128, 128);
}

.last-row {
	border-bottom: 1px solid rgb(128, 128, 128);
}

.colored {
	background-color: cadetblue;
}
